/DirectX_App_Template/.vs
/DirectX_App_Template/Debug
/DirectX_App_Template/Release
/DirectX_App_Template/x64
/DirectX_App_Template/App_Template/Debug
/DirectX_App_Template/App_Template/Release
/DirectX_App_Template/App_Template/x64